nav{
  background: hsla(0, 0%, 0%, 0.801);
}

ul{
  display: flex;
   gap: 25px;
}

ul li{
  color: whitesmoke;
  list-style: none;
  padding: 15px;
}

*{
  padding: 0;
  margin: 0;
}

.red{
  background: red;
  color: white;
}